.recipe-entry {
    background-color: #ccc;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
  }